* {
  box-sizing: border-box;
}

body {
  font-family: cursive;
}

/* Style the header */
header {
  background-color: lightsalmon;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

#templogo {
  width: 15%;
  height: auto;
}

#headerDiv {
  vertical-align: top;
  text-align:center;
  font-size: 0px;

}

#headerImg {
  display:inline-block;
  width: 25%;
  height: auto;
}


/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 15%;
  height: 300px; /* only for demonstration, should be removed */
  background: rgb(255, 255, 171);
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 85%;
  background-color: #ffffe6;
  height: 300px; /* only for demonstration, should be removed */
  font-size: 16px;
}

#aboutusimg {
  width: 25%;
  height: 60%;
  display: inline-block;
}


#plineup {
  display:inline-block;
  width: 65%;
  vertical-align: top;
}


#aboutuslineup {
  vertical-align: top;
  text-align:left;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #383838;
  padding: 10px;
  text-align: center;
  color: white;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
